{% extends 'base.html.twig' %}

{% block title %}Hello

{% endblock %}

{% block body %}
	<div class="bg-light p-3">
		<h1>Les produits</h1>
	</div>

	<div class="row">
		{% for produit in produits %}
			<div class="col-4 mt-4">
				<div class="border border-dark rounded p-2 clearfix">
					<h4>
						{{ produit.nom }}<br>

						{{ produit.categorie.titre }}


					</h4>
					<img class="img-fluid rounded" src="{{ produit.image }}" alt="Image de {{ produit.nom }}">
					<h5>

						{{ produit.type.titre }}
						<br>
						{{ produit.prix }}
						€

					</h5>
					<hr>
					<a href="{{ path('panier_add', {'id': produit.id})}}" class="btn btn-success float-right">
						<i class="fas fa-shopping-cart mr-1"></i>
						Acheter
					</a>
					<a href="{{ path('blog_show', {'id': produit.id})}}" class="btn btn-success float-left">
						<i class="fas fa-shopping-cart mr-1"></i>
						En savoir plus
					</a>

				</div>

			</div>
		{% endfor %}
	</div>

{% endblock %}
