{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('/assets/css/products.css') }}">
{% endblock %}


{% block title %}Hello

{% endblock %}

{% block body %}
	<div class="bg-light p-3">
		<h1>Products:</h1>
	</div>

	<div class="row">
		{% for produit in produits %}
			<div class="col-4 mt-4">
				<div class="border border-dark rounded p-2 clearfix pane">
					<h4>
						{{ produit.categorie.titre }}
						{{ produit.nom }}


					</h4>
					<img class="img-fluid rounded product" src="{{ produit.image }}" alt="Image de {{ produit.nom }}">
					<h5>

						{{ produit.type.titre }}
						<br>
						{{ produit.prix }}
						€

					</h5>
					<hr>
                    <div class="btn-toolbar">
                        <a href="{{ path('panier_add', {'id': produit.id})}}" class="btn btn-success btn-md">
                            <i class="fas fa-shopping-cart mr-1"></i>
                            Add
                        </a>
                        {% if app.user %}
                            {% if app.user.roles[0] == "ROLE_ADMIN" %}
                            <a href="{{ path('blog_edit', {'id': produit.id})}}" class="btn btn-success btn-md">
                                <i class="fas fa-shopping-cart mr-1"></i>
                                Modify
                            </a>
                            <a href="{{ path('blog_delete', {'id': produit.id})}}" class="btn btn-success btn-md">
                                <i class="fas fa-shopping-cart mr-1"></i>
                                Remove
                            </a>
                            {% endif %}
                        {% endif %}
                        
                        <a href="{{ path('blog_show', {'id': produit.id})}}" class="btn btn-success btn-md">
                            <i class="fas fa-shopping-cart mr-1"></i>
                            Details
                        </a>
                    </div>
				</div>

			</div>
		{% endfor %}
	</div>

{% endblock %}
